<section>
  <h2 class="heading">Create A New Blog Post</h2>

  <form class="postNewForm">
    <div>
      <label for="post-title">Blog Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Blog Title"/>
    </div>
    <div>
      <label for="post-content">What is your post about?:</label>
      <input id="post-content" name="post-content" placeholder="Type your blog post here"/>
    </div>
    <button type="submit" class="button">Create Post</button>
  </form>
</section>

<script src="/js/create-post.js"></script>